.app {
  display: flex;
}
.app > div:first-child {
  display: none;
}

.sidebarMobileWrapper {
  position: fixed;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

.sidebarMobileOverlay {
  position: fixed;
  inset: 0;
  background-color: gray;
  opacity: 0.5;
  pointer-events: fill;
}

.sidebarMobile {
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 1;
  flex: 1;
  flex-direction: column;
  pointer-events: auto;
  overflow-y: auto;
}

.menuButtonMobile {
  display: flex;
}

.rest {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

@media only screen and (min-width: 1200px) {
  .app {
    display: flex;
  }
  .app > div:first-child {
    display: flex;
  }
  .menuButtonMobile {
    display: none;
  }
  .sidebarMobile {
    display: none;
  }
  .sidebarMobileWrapper {
    display: none;
  }
}

.content {
  display: flex;
  flex-basis: 100%;
  height: 100%;
  min-height: 76vh;
}

@media only screen and (min-width: 400px) {
  .content {
    min-height: 86.5vh;
  }
}
